*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    padding: 5rem 0;
}
main{
    width: 88%;
    height: 90%;
    border-radius: 5px;
}
div{
    width: 100%;
    height: 33.33%;
    padding: 2.5rem 3rem;
}
div  img{
    padding-bottom: 1.5rem;
}
div  h1{
    color: hsl(0, 0%, 95%) !important;  
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
}
div p{
    color:  hsla(0, 0%, 100%, 0.75) !important;
    font-size: 12px;
    padding-bottom: 2.5rem;
    font-family: 'Lexend Deca', sans-serif;
}
div:nth-child(1){
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
div:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}
div:nth-child(3){
    background-color:hsl(179, 100%, 13%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
button{
    background-color: hsl(0, 0%, 95%);
    border: none;
    width: 11.8rem;
    height: 3.7rem;
    border-radius: 15px;
    font-family: 'Lexend Deca',sans-serif;
}
#sedan{
    color: hsl(31, 77%, 52%);
}
#suv{
    color: hsl(184, 100%, 22%);
}
#luxury{
    color: hsl(179, 100%, 13%);
}

@media (min-width: 768px){
    body{
        height: 100vh;
    }   
    main{
        display: flex;
        height: 70%;
        width: 65%;
    }
    div{
        height: 100%;
       
        
    }
    div img, h1, p{
        padding: 1.6rem;
    }
    div p{
        width: 95%;
        font-size: medium;
        text-align: left;
    }
    div button{
        margin-top: 8rem;
        margin-left: 1.6rem;
        cursor: pointer;
    }
    div button:hover{
        background-color:transparent;
        border: 2px solid hsl(0, 0%, 95%);
        color: hsl(0, 0%, 95%) !important;
    }

    div:nth-child(1){
        border-top-left-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }
    div:nth-child(3){
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }
}